{% extends 'base.html' %}
{% block title%}About Me{% endblock title %}

{%block content%}
<h1 class="title">EMILIANO REYES</h1>
<div class="container">
        <img src="/static/img/turtle.jpeg" alt="" class="turtle">
        <div class="text-container">
                <p>I GREW UP IN Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi maiores odit tenetur quam nobis placeat, corporis vel quas natus in dolorum, cum iure, omnis iste aliquam harum provident explicabo repellendus?</p>
                <p>and then I <i>Lorem, ipsum dolor sit amet consectetur adipisicing elit. In, illo cupiditate. Voluptas nemo eos, animi quis necessitatibus eaque possimus ab dolorum laudantium sit alias ut eligendi odit dolores quae modi.</i></p>
        </div>
</div>
{% endblock content %}
